.Navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;

  header {
    width: 100%;
    display: flex;
  }

  nav {
    color: $dark;
  }

  button {
    outline: none;
    border: none;
    user-select: none;
    cursor: pointer;
    position: absolute;
    top: 18px;
    right: 1px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: transparent;

    svg path {
      @include themed() {
        stroke: t(bg);
      }
    }
  }

  .nav-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    @include themed() {
      background-color: t(btn-bg);
    }
  }

  .menu {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    padding: 5rem;

    li {
      font-size: clamp(2rem, 8rem, 10vw);
      line-height: 2em;

      a {
        @include themed() {
          color: t(menu-txt);
        }
      }
    }
  }
}
