@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Prata&family=Tenor+Sans&display=swap');

html {
  font-family: "Tenor Sans", sans-serif;
  font-size: 18px;

  @media screen and (max-width: 400px) {
    font-size: 16px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Baskervville", sasn-serif;
  letter-spacing: 0.2ch;
  font-weight: 400;
}
